name: create tag and relese

on:
  pull_request:
    types: [closed]
jobs:
  create-tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: github.event.pull_request.merged && startsWith(github.head_ref, 'OV') && endsWith(github.head_ref, 'Validation') && startsWith(github.base_ref, 'master')
    steps:
      - uses: actions/checkout@v2
      - name: Bump version and push tag
        id: tag_and_prepare_release
        uses: anothrNick/github-tag-action@1.64.0
        env:
          GITHUB_TOKEN:  ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          CUSTOM_TAG: "v8.6.0-13"
      - name: Display
        run: echo ${{ steps.tag_and_prepare_release.outputs.new_tag }}
      - uses: actions/checkout@v2
      - uses: ncipollo/release-action@v1
        with:
          name:  ${{ steps.tag_and_prepare_release.outputs.new_tag }}
          tag: ${{ steps.tag_and_prepare_release.outputs.new_tag }}
          body: See the <a href="https://github.com/HewlettPackard/oneview-golang/blob/master/CHANGELOG.md">CHANGELOG.md</a> for details.
          token:  ${{secrets.GITHUB_TOKEN}} 